@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* ################## style of The overall div called container ###################### */
.container{
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
    
}
/* ################## nav bar styles###################### */
nav{
   display: grid;
   grid-template-columns: 3fr 1fr;
   align-items: center;
   gap: 3rem;
   position: sticky;
   position: fixed;
   height: 100px;
   width: 70%;
   z-index: 11;
   color: #101214;
   background-color: #fff;
   box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.02);
   
}

 nav .title{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: 28px;
   
   
}
nav h4{
   font-size: 18px;
   font-weight: 28px;
}
/* ################## style of the Title(nav bar) ###################### */
.title a{
  text-decoration: none ;
  color: #101214;
}
.title h5{
   font-family: "inter",sans-serif;
   font-size: 38px;
   font-weight: 700;


}
.title h6{
   font-family: "Arial", sans-serif;
   font-size: 19px;
   font-weight: 400;
}

 /* ################## style of the profile photo ###################### */
 .profile{
    display: inline-block;
    width: 100px;
    height: 100px; 
    overflow: hidden;
    border-radius: 80%;
 }

 .profile img{
    width: auto; 
    height: 100%;
 }

 /* ################## CV CONTENT ###################### */

 .content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 9rem;
    gap: 3rem;
    font-family: "inter", sans-serif;
 }
 
 /* ################## Right side of the content div ###################### */
 .content .right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 24px;

 }
 .content .right h4{
      font-size: 13px;
 }
 .content .right p{
   font-size: 13px;
 }

 /* ################## left side of the content div ###################### */
 .content .left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #73808D;
    line-height: 24px;
    width: 10rem;
   
 }
 .content .left h5{
    font-size: 13px;
    font-family: "inter", sans-serif;

 }
 .content .right h5{
   color: #73808D;
   font-size: 8px;
 }
 .contact{
      font-family: "Arial", sans-serif;
      font-size: 13px;
 }
 .industry{
   font-family: "inter", sans-serif;
   font-size: 13px;
 }

 .tools{
   font-family: "inter", sans-serif;
   font-size: 13px;
 }
 .otherskills{
   font-family: "inter", sans-serif;
   font-size: 13px;
 }
 .languages{
   font-family: "inter", sans-serif;
   font-size: 13px;
 }
 .social{
   font-family: "inter", sans-serif;
   font-size: 13px;
 }
 

 /* ################## Responsiveness ###################### */

 @media only screen and (max-width: 600px){
   
   [class*="container"] {
      width: 100%;
      align-items: center;
   }
   nav{
      display: flex;
      
      height: 20vh;
      width: 90%;
      gap: 2rem;

   }
   .title{
      font-size: 5px;
   }
   .profile{
      border-radius: 50%;
      height: 19vh;
   }
   .profile img{
      position: relative;
   }
   .content{
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-bottom: 3em;
   }
 }

 @media only screen and (max-width:470px){
   .profile {
      width:35%;
      height: 20vh;
   }
   .title{
      font-size: 10px;
   }
 }